<ion-header>
  <ion-toolbar>
    <ion-title>Vehicles</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
  <ion-input placeholder="Plate" [(ngModel)]="newVehicle.plate"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Make" [(ngModel)]="newVehicle.make"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Model" [(ngModel)]="newVehicle.model"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Color" [(ngModel)]="newVehicle.color"></ion-input>
</ion-item>
<ion-button expand="block" (click)="addVehicle()">Add Vehicle</ion-button>
</ion-content>

<ion-list>
  <ion-item *ngFor="let vehicle of vehicles$ | async">
    <ion-label>
      {{ vehicle.plate }} - {{ vehicle.make }} {{ vehicle.model }} - {{ vehicle.color }}
    </ion-label>
    <ion-button (click)="startEdit(vehicle)" fill="clear">Edit</ion-button>
    <ion-button color="danger" (click)="deleteVehicle(vehicle.id!)" fill="clear">Delete</ion-button>
  </ion-item>
</ion-list>

<div *ngIf="editingVehicle">
  <ion-item>
    <ion-input [(ngModel)]="editingVehicle.plate" placeholder="Edit Plate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="editingVehicle.make" placeholder="Edit Make"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="editingVehicle.model" placeholder="Edit Model"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="editingVehicle.color" placeholder="Edit Color"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="updateVehicle()">Update</ion-button>
  <ion-button expand="block" color="medium" (click)="editingVehicle = null">Cancel</ion-button>
</div>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="impounds" routerLink="/impounds">
      <ion-icon name="alert-outline"></ion-icon>
      <ion-label>Impounds</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vehicles" routerLink="/vehicles">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Vehicles</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" routerLink="/profile">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>