<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select formControlName="role" interface="popover" placeholder="Select role">
        <ion-select-option value="owner">Vehicle Owner</ion-select-option>
        <ion-select-option value="authority">Authority</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="signupForm.invalid">Sign Up</ion-button>
  </form>
  <ion-text>
    Already have an account?
    <a routerLink="/login">Log in</a>
  </ion-text>
</ion-content>
